 
<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="container" style="text-align: center;">
			<h1>Sistema de hoteis e sites de reservas</h1>
			<img alt="" th:src="@{/image/image.png}" style="width:500px;">
		</div>
		<div class="container" style="text-align: center;">
			<a th:href="@{/hotels/listar/}">
				<h1 th:text="#{Hoteis}"></h1>
			</a>
			<a th:href="@{/sites/listar/}">
				<h1 th:text="#{Sites}"></h1>
			</a>
			<a th:href="@{/promocoes/listar/}">
				<h1 th:text="#{Promocoes}"></h1>
			</a>
		</div>

	</section>
</body>
</html>